<div class="row">
    <div class="col-md-2"></div>
    <div id="content" class="col-sm-12 col-md-8">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-sm-12 col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 id="title" class="text-center">All The News</h2>
                    </div>
                    <div class="panel-body">
                        <p id="summary">Sorry, page not found.</p>
                        <p><button id="getArticles" class="btn btn-primary">Read Articles</button></p>
                    </div>
                    <div class="panel-footer">
                        <div id="navigation">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>